body {
    background-color: #282942;
}

#game-board {
    width: 560px;
    height: 300px;
    background-color: black;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}


#paddle {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.brick {
    position: absolute;
    width: 100px;
    height: 15px;
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}

#hud {
    text-align: center;
    margin-top: 10px;
}

#hud span {
    margin: 0 10px;
}